.topPlate {
    height: 100px;
    background-color: #ffffff;
    margin-top: 0%;
    border-bottom: 2px #cccccc solid;
}
.namePlate {
    background-color: #4aaaa5;
    height: 100px;
    width: 330px;
    border: 3px;
    float: left;
    margin-left: 20%;
    margin-top: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.name {
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    
    
}
.linkbox {
    font-size: 20px;
    margin-left: 430px;
    margin-top: 27px;
    float: left;
    padding: 10px;
    color: #cccccc;
    
}
link{
    color: #cccccc;
}
.main {
    width: 940px;
    padding:20px;
    height: 0 auto;
    margin-top: 150px;
    margin-left: 20%;
    border: 1px #cccccc solid; 
    clear: both;

}
body {
    margin: 0px;
}
.header {
    color: #4aaaa5;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-bottom: 25px;
    border-bottom: 2px #cccccc solid;
}
img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
   

    

}
.inputs {
    width: 100%;
    padding: 5px;
}
textarea {
    width: 100%;
}
#submit {
    background-color: #4aaaa5;
    color: whitesmoke;
    border: 0px;
    padding:10px 20px 10px 20px;
    }
.footer1 {
    width: 100%;
    height: 4px;
    background-color: #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 20px;
    
}
.footer2 {
    width: 100%;
    height: 20px;
    background-color: #cccccc;
    position: fixed;
    left: 0;
    bottom: 0;

}